<div class="doctor-page-width">
<div class="doctors_image_with_Text">
  <div class="doctor_text_Section">
    <h1 class="heading_doctor">{{section.settings.doctor_left_heading}}</h1>
    <p class="para_doctor">{{section.settings.doctor_left_pera}}</p>
    <div class="threeimagesec_btn">
      <a href="{{section.settings.doctor_button_link}}" target="_blank" class="btn btn--cta">{{section.settings.doctor_left_pera_button}}</a>
      </div>
  </div>
  <div class="doctor_image_section">
    <img src="{{section.settings.doctor_banner_right_image | img_url: 'master'}}">
  </div>
</div>
  </div>

{% schema %}
  {
    "name": "Doctor Image With Text",
    "settings": [
     {
     "type": "text",
     "id": "doctor_left_heading",
     "label": "Heading",
     "default": "Referring Patients"
     },
     {
     "type": "html",
     "id": "doctor_left_pera",
     "label": "Content"
      },
     {
     "type": "url",
     "id": "doctor_button_link",
     "label": "Link"
     },
     {
     "type": "text",
     "id": "doctor_left_pera_button",
     "label": "Text",
     "default": "Referral Form"
     },
     {
     "type": "image_picker",
     "id": "doctor_banner_right_image",
     "label": "Image"
     }

    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
